blinker @ file:///C:/miniconda3/conda-bld/blinker_1764332307774/work
Bottleneck @ file:///C:/miniconda3/conda-bld/bottleneck_1761938212172/work
click @ file:///C:/miniconda3/conda-bld/click_1764332357576/work
colorama @ file:///C:/Users/dev-admin/buildout/croot/colorama_1759952627215/work
et_xmlfile @ file:///C:/Users/dev-admin/buildout/croot/et_xmlfile_1765237372560/work
Flask @ file:///C:/Users/dev-admin/buildout/croot/flask_1759970065939/work
itsdangerous @ file:///C:/Users/dev-admin/buildout/croot/itsdangerous_1759965296215/work
Jinja2 @ file:///C:/Users/dev-admin/buildout/croot/jinja2_1761938590194/work
MarkupSafe @ file:///C:/Users/dev-admin/buildout/croot/markupsafe_1759955189290/work
mkl-service==2.5.2
mkl_fft @ file:///C:/miniconda3/conda-bld/mkl_fft_1761592920453/work
mkl_random @ file:///C:/miniconda3/conda-bld/mkl_random_1761593081220/work
numexpr @ file:///C:/miniconda3/conda-bld/numexpr_1762165726164/work
numpy @ file:///C:/miniconda3/conda-bld/numpy_and_numpy_base_1763980696655/work/dist/numpy-2.3.5-cp314-cp314-win_amd64.whl#sha256=76af5c26e1b6f0492c90dbb17276bd664bbde95b360641a0da098aef53933ec8
openpyxl @ file:///C:/Users/dev-admin/buildout/croot/openpyxl_1759965765142/work
pandas @ file:///C:/miniconda3/conda-bld/pandas_1762332435977/work/dist/pandas-2.3.3-cp314-cp314-win_amd64.whl#sha256=ac6b8c30836d425b7de9199ad67d79b5d4d36663122fd5a70d81bfc894c0da42
python-dateutil @ file:///C:/Users/dev-admin/buildout/croot/python-dateutil_1759954839763/work
pytz @ file:///C:/Users/dev-admin/buildout/croot/pytz_1759958332927/work
six @ file:///C:/Users/dev-admin/buildout/croot/six_1759954493303/work
tzdata @ file:///croot/python-tzdata_1746123641790/work
Werkzeug @ file:///C:/Users/dev-admin/buildout/croot/werkzeug_1759968538419/work
